
.teams{
  &__title{
    margin: 15px;
  }
  &__createButton{
    margin: 15px;
  }
}
.team{
  // appearance :
  width: 100%;
  // position :
  display: flex;
  justify-content:space-around;

  &-form{
    background-color: rgba($color: white, $alpha: 0.2);
    border: 1px solid #888;
    color: white;
    padding: 1rem;
    margin: 5px;
    & input, & select{
      padding: 0.5rem;
      border: 1px solid #888;
      border-radius: 0.2rem;
      width: 100%;
    }
    & label{
      display: block;
      padding: 1rem 0;
      width: 100%;
      font-family: 'Saira', sans-serif;
      font-size: 1.2rem;
    }
    &__top{
      display: flex;
      justify-content: space-between;
      background-color: unset;
      border-bottom: 1px solid #aaa;
      padding-bottom: 1.75rem;
    }
    &__title{
      font-size: 2rem;
      color: white;
    }
    &__back{
      margin: 0.4rem 0;
      border: 0;
      border-radius: 0.2rem;
      box-shadow: 0 0 0.1rem black;
      font-size: 1.2rem;
      display: flex;
      place-items: center;
      padding: 0.3rem;
    }
    &__submit{
      margin: 0.4rem 0;
      border: 0;
      border-radius: 0.2rem;
      box-shadow: 0 0 0.1rem black;
      padding: 0.6rem;
      font-size: 1.2rem;
    }
  }
  
}
.error_message{
  background-color: brown;
  color: white;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid indianred;
  font-size: 0.9rem;
  font-family: 'Saira', sans-serif;
}

@media screen and (min-width: 768px) {
  .team{
    // appearance :
    width: 100%;
    // position :
    display: flex;
    justify-content:space-around;
  
    &-form{
      background-color: rgba($color: white, $alpha: 0.2);
      border: 1px solid #888;
      color: white;
      padding: 1rem;
      margin: 1rem 0px;
      &__form{
        display: flex;
      }
      &__fieldset{
        box-sizing: border-box;
        width: 50%;
        padding-right: 5%;
      }
      & input, & select{
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #888;
        border-radius: 0.2rem;
      }
      &__top{
        display: flex;
      }
    }
  
  }
}
