// component Games
.games{
  // appearance :
  font-family: 'Saira', sans-serif;
  color: white;
  padding: 5px;
  margin: 5px;
  background-color: rgba($color: white, $alpha: 0.2);
//  background-color: #344141;
  text-align: center;
  font-size: large;
  border: 1px solid #888;

  // position :
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__more{
    background-color: #666F6F;
    font-family: 'Saira', sans-serif;
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: large;
    border: none;
  }
  
}

// component Game
.noregistered{
  // appearance
  color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);

}
.oneregistered{
  // appearance
  color: rgb(255, 123, 0);
  border: 2px solid  rgb(255, 123, 0);
}
.fullregistered{
  // appearance
  color: rgb(0, 255, 0);
  border: 2px solid rgb(0, 255, 0);
  
  .game__registering{
    display: none;
  }
  
}
.isregistered{
  // appearance
  color: rgb(0, 140, 255);
  border: 2px solid  rgb(0, 217, 255);
}
.game{
  font-family: 'Saira', sans-serif;
  padding: 5px;
  margin: 15px;
  background-color: black;
  text-align: left;

  // position :
  position: relative;

  &__item{
    margin: 10px;
    color: white;
  }
  &__counter{
    // appearance
    font-family: 'Black Ops One', cursive;
    // Position :
    position: absolute;
    bottom: 30px;
    right: 40px;

  }

  &__registering{
    // appearance :
    width: 10rem;

    // position :
    position: absolute;
    bottom: -27px;
    right: -33px;
  }
}

h2{
  font-size: larger;
  font-family: 'Black Ops One', cursive;
}


@media screen and (min-width:768px){
  .games{
    margin: 1rem 0px;
    margin-right:1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: calc(100% - 237px);
    max-height: 460px;
    overflow-y: auto;

    &__text{
      display: none;
    }
    &__more{
      display: none;
    }
  }
  .game{

    width: 16rem;
    height: 16rem;
  }
}
