section{
  // appearance : 
  font-family: 'Saira', sans-serif;
  background-color: black;
  color : white;
  display: flex;
  flex-wrap: wrap;
}
span{
  padding : 10px;
  margin-top: 10px;
}
.users{
  border-bottom: solid grey 1px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  &__title{
    margin: 20px;
  }
  &__interaction{
    margin: 15px;
    padding : 5px;
    background-color: rgba($color: black, $alpha: 0.2);
    border: solid 1px grey;
    color : white;


  }
}
.user{
  // appearance :
  width: 100%;
  // position :
  display: flex;
  &__name{
    justify-content:flex-start;
    max-width: 25%;
  }
  &__details--hidden{
    display : none;
  }
  &__details--open{
    display : none;
  }
}

@media screen and (min-width: 768px) {
  .user{
    &__name{
      width: 30%;
      display: flex;
      justify-content: space-between;
    }
    &__details{
      width:60%;
      display: flex;
    }
  }
}
