.login{
  
  background-color: rgba($color: white, $alpha: 0.2);
  border: 1px solid #888;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 1rem;
  box-sizing: border-box;
    
  &__button{
    background-color: black;
    border: solid 4px white;
    color: white;
    font-size: 1.8rem;
    font-family: "Black Ops One", cursive;
  }

  &__form{
    display: flex;
    flex-direction: column;
    color: white;
  }

  &__label{
    display: flex;
    flex-direction: column;
    margin: 0.4rem 0;
    &>input{
      border-radius: 0.2rem;
      border: 0;
      box-shadow: 1px 1px 3px rgb(65, 65, 65);
      padding: 0.3rem;
    }
  }

  &__submit, &__signup{
    margin: 0.4rem 0;
    border: 0;
    border-radius: 0.2rem;
    padding: 0.3rem;
  }

  &__forgot{
    color: white;
    text-decoration: underline;
  }
}
.absolute{
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (min-width: 768px) {
  .login{
    background-color: initial;
    height : 416px;
    border: 0;
    margin: 0 auto;
    padding: 0;
    justify-content:space-evenly;
    &__section{
      border-radius: 0.2rem;
      display: flex;
      flex-direction: column;
      margin: 0rem;
      padding: 1rem;
      box-sizing: border-box;
      &.open{
        max-width: 216px;
        background-color:rgba($color: white, $alpha: 0.2);
        border: 1px solid #888;
      }
    }
  }
  .absolute{
    top:100px;
  }
}
